.wrapper {
  display: flex;
  margin-left: 20px;
}
.message {
  background-color: #fff;
  display: inline-block;
  min-height: 50px;
  max-width: 70%;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  position: relative;

  &__time {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 15px;
    color: grey;
  }
}

.userMsg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
  }
}
