$input-back: #fff;
$field-back: grey;
$input-height: 50px;

.mesFieldHeader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;

  &__btn {
    width: 25px;
    cursor: pointer;
    margin-right: 15px;
  }
}
