$input-back: #fff;
$field-back: grey;
$input-height: 50px;

.mesFieldHeader {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: #fff;
  padding: 0 20px 0 20px;
  &__btnExitBox {
    display: flex;
    align-items: center;
  }
  &__btnExit {
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 20px;
  }
  &__btnMenu {
    display: none;
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .mesFieldHeader__btnMenu {
    display: block;
  }
}
