$input-back: #fff;
$field-back: grey;

.mesField {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $field-back;

  &__inputBox {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0 0 0;
    padding: 0 20px 0 20px;
    background-color: $input-back;
  }

  &__inputField {
    width: 95%;
  }
  &__btn {
    width: 35px;
    cursor: pointer;
  }
}
