.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__searchBox {
    padding: 5px;
  }

  &__usersBox {
    width: 20%;
    height: 100%;
    border-right: 1px solid grey;
  }

  &__messageBox {
    width: 80%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    position: relative;
    &__usersBox {
      display: none;
      width: 30%;
      z-index: 1000;
      position: absolute;
      left: 0;
      background-color: #fff;
    }
    &__messageBox {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .home__usersBox {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .home__usersBox {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .home__usersBox {
    width: 60%;
  }
}
