.user {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &__wrapper {
    display: flex;
    flex-direction: 'row';
    align-items: center;
  }
  &__imageBox {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__online {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 1000;
    border-radius: 50%;
  }

  &__imageText {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin: 0;
  }

  &__nameBox {
    display: flex;
    align-items: center;
  }

  &__nameText {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
  }
}
