.room {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__usersBox {
    width: 20%;
    height: 100%;
    border-right: 1px solid grey;
  }

  &__messageBox {
    width: 80%;
    height: 100%;
  }
}
