.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #2f4f4f;
  justify-content: center;
  &__login,
  &__register {
    margin-top: 40px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
  }
}

.tabs__wrapper {
  width: 50%;
  max-width: 500px;
  min-width: 150px;
  margin-top: 5%;
}
